@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #229ea6;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

.container-scroller {
    position: relative;
    display: flex;
    /* padding: 0px 10px 0px 0px; */
}

.care-input>button,
#search-btn,
#downloadExcel,
#booking-form>div>div>div>div>a,
#homeCollection>div:nth-child(2)>a,
#centerVisit>div:nth-child(3)>a,
#homeCollectionForm>div:nth-child(2)>a,
#centerVisitForm>div:nth-child(3)>a,
.report-btn>button,
.search-button-container>a,
.downloadExcel>button,
.escalation-btn>a,
#btn-esc>a {
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #229ea6;
    color: #fff;
}

.main-content>div>div:first-child>div>div:last-child>a:hover,
#homeCollection>div:nth-child(2)>a:hover,
#centerVisit>div:nth-child(3)>a:hover,
#booking-form>div>div>div>div>a:hover,
#search>a:hover,
.downloadExcel>button:hover,
.report-btn>button:hover,
.search-button-container>a:hover,
.escalation-btn>a:hover,
#btn-esc>a:hover {
    border-color: #005f6b;
    box-shadow: 0 0 5px rgba(0, 123, 143, 0.5);
}

footer>div>span>span {
    font-weight: 800;
}

/* Navbar Start */
#main-nav {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

#main-nav>div:first-child>a:first-child {
    color: #000;
    font-size: 22px;
}

#main-nav>div:last-child>a:first-child {
    font-size: 18px;
    font-weight: 400;
    color: rgb(91, 91, 91);
}

#main-nav>div:last-child>a:last-child>div {
    border: none;
    padding: 6px 12px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: #D3D3D3;
}


/* Navbar End */

/* Sidebar Start */
#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 73px;
    padding: 0.6rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#sidebar>ul>li:not(:first-child) {
    margin-top: 6px;
}

#sidebar>ul>li>a {
    font-size: 18px;
    color: rgb(91, 91, 91);
    font-weight: 600;
    border-radius: 8px;
}

#sidebar>ul>li>a:hover {
    background-color: #229ea6;
    color: #fff;
    transition: 0.3s all ease;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

/* Sidebar End */

/* Index Page Start */
/* Main Content Start */
.main-content {
    flex-grow: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    position: absolute;
    top: 75px;
    left: 10px;
    width: 82%;
    padding: 0px 20px 0px 10px;
}

.full-width {
    position: absolute;
    margin-left: 0;
    width: 98%;
}

.main-content>div>div:first-child>div>div:last-child>a {
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #fff;
    color: #229ea6;
    font-weight: 800;
}

#full-form,
#booking-form {
    background-color: #fff;
    margin-left: 10px;
    border-radius: 4px;
    padding: 20px 10px;
}

.form-tag {
    position: relative;
    top: 100px;
}

.niz-input>input {
    padding: 8px 12px;
    outline: none;
}

.niz-input>select {
    padding: 8px 12px;
    outline: none;
}

.care-input>button:hover {
    outline: none;
    border-color: #005f6b;
    box-shadow: 0 0 5px rgba(0, 123, 143, 0.5);
}

#search-btn {
    color: #fff;
}

.board h5 {
    font-size: 14px;
    font-weight: 600;
}

.board p,
.report-board p {
    font-size: 13px;
    font-weight: 400;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead>tr>td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody>tr>td {
    padding: 15px 6px;
}

#icons-style>a {
    font-size: 14px;
}

#icons-style>a:first-child {
    color: #229ea6;
}

#icons-style>a:nth-child(2) {
    color: #FF0000;
}

#icons-style>a:last-child {
    color: #999898;
}

/* Main Content End */
/* Index Page End */

/* Input Styles Start */
#ind-from-date,
#ind-to-date,
#ind-corporate,
#ind-status,
#ind-date-option {
    display: block;
    color: red;
    font-weight: 400;
    margin-top: 5px;
}

.dob-label {
    display: block;
    font-weight: bold;
    color: #229ea6;
    margin-bottom: 5px;
}

.dob-input {
    border: 1px solid #007b8f;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 200px;
}

.dob-input:focus {
    outline: none;
    border-color: #005f6b;
    box-shadow: 0 0 5px rgba(0, 123, 143, 0.5);
}


.dropdown-label {
    display: block;
    font-weight: bold;
    color: #229ea6;
    margin-bottom: 5px;
}

.dropdown-text-es {
    border: 1px solid #007b8f;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 500px;
    appearance: none;
    outline: none;
    background-size: 12px;
    background-color: #fff;
}

.dropdown-input-es {
    border: 1px solid #007b8f;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 500px;
    appearance: none;
    /* Remove default arrow */
    background: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 12px;
    background-color: #fff;
}

.dropdown-input {
    border: 1px solid #007b8f;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 350px;
    appearance: none;
    /* Remove default arrow */
    background: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 12px;
    background-color: #fff;
}

.dropdown-input:focus,
.dropdown-input-es:focus,
.dropdown-text-es:focus {
    outline: none;
    border-color: #005f6b;
    box-shadow: 0 0 5px rgba(0, 123, 143, 0.5);
}

.search-label {
    display: block;
    font-weight: 500;
    color: #777;
    margin-bottom: 5px;
}

.search-container {
    position: relative;
    width: 500px;
}

.search-input {
    width: 100%;
    padding: 8px 8px 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.search-input:focus {
    outline: none;
    border-color: #005f6b;
    box-shadow: 0 0 5px rgba(0, 123, 143, 0.5);
}

/* Newbooking page */
form {
    margin: 20px;
}

#booking-form>div>div>div>div>a {
    margin-left: 30px;
}

#booking-form label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #229ea6;
    /* Adjust color as needed */
}

.styled-input {
    width: 350px;
    padding: 10px;
    border: 1px solid #007b8f;
    border-radius: 4px;
    box-sizing: border-box;
}

.styled-input:focus {
    outline: none;
    border-color: #005f75;
    box-shadow: 0 0 5px rgba(0, 123, 143, 0.5);
}

/* Input Styles End */

/* Newbooking Page Start */
#booking-form>div>form>div {
    margin-left: 30px;

}

.self-form-container,
.dependent-form-container {
    display: none;
}

.content {
    display: none;
}

.hidden-content {
    display: none;
}

/* Newbooking Page End */

/* Media Query Start*/

@media screen and (max-width: 992px) {

    #main-nav>div:last-child>a:first-child {
        font-size: 16px;
    }

    .main-content {
        top: 90px;
    }

    .board {
        overflow-x: scroll;
    }

    .report-board {
        overflow-x: scroll;
    }

}

@media screen and (max-width: 478px) {

    #main-nav {
        padding: 0;
        margin: 0;
    }

    #main-nav>div:first-child>a:last-child {
        margin: 0px 0px 30px 0px;
        padding: 0px;
        height: 6px;
    }

    #main-nav>div:last-child>a:first-child {
        font-size: 10px;
    }

    #main-nav>div:last-child>a:last-child {
        font-size: 12px;
    }

    .main-content {
        top: 128px;
    }

}

/* Media Query End */
